body,html{
    width: 98%;
    height: 100%;
    overflow: hidden; 
  }
  body{
    background-color: #141417;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  svg{
    height: 100%;
    width: 100%;
    
  }

  


@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

.bar {
  width: 1px;
  height: calc(100% - 190px);
  background-color: black;
  margin: 95px 20px;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; 
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}


.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #0a4366;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.snip1566 {
  position: relative;
  display: inline-block;
  margin: 20px;
  max-width: 190px;
  width: 130px;
  color: #bbb;
  font-size: 16px;
  box-shadow: none !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.snip1566 *,
.snip1566:before,
.snip1566:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.snip1566:before,
.snip1566:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  border: 2px solid #bbb;
  border-color: transparent #bbb;
}

.snip1566 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  border-radius: 50%;
  padding: 10px;
}

.snip1566 figcaption {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
}

.snip1566 i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 4em;
  z-index: 1;
}

.snip1566 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1566:hover figcaption,
.snip1566.hover figcaption {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.snip1566:hover:before,
.snip1566.hover:before,
.snip1566:hover:after,
.snip1566.hover:after {
  border-width: 10px;
}

.snip1566:hover:before,
.snip1566.hover:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.snip1566:hover:after,
.snip1566.hover:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.image-container {
  display: flex;
  justify-content: space-between;
}

.snip1566 {
  flex-basis: 30%; /* Ajustez la largeur selon vos besoins */
}

/* TEXTE */

:root {
  --primary-color: mediumslateblue;
}

* {
  box-sizing: border-box;
}


h1,
h2,
h3,
p {
  margin: 0rem;
}

.card {
  width: 640px;
  position: relative;
  background-color: rgb(16 16 16);
  border: 1px solid rgb(255 255 255 / 5%);
  border-radius: 1.5rem;
  padding: 1rem;
}

.card:after {
  content: "";
  height: 70px;
  width: 1px;
  position: absolute;
  left: -1px;
  top: 65%;
  transition: top, opacity;
  transition-duration: 600ms;
  transition-timing-function: ease;
  background: linear-gradient(transparent, var(--primary-color), transparent);
  opacity: 0;
}

.card:hover:after {
  top: 25%;
  opacity: 1;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-position: 50% 50%;
  background-size: 1.1rem 1.1rem;
  padding: 4rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card-content> :is(h1, h3, p) {
  text-align: center;
}

.card-content> h1 {
  color: rgb(250 249 246);
  font-size: 2.6rem;
}

.card-content> h3 {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 0.76rem;
}

.card-content> p {
  color: rgb(255 255 255 / 75%);
  line-height: 1.5rem;
}

@media (max-width: 700px) {
  .card {
    width: calc(100% - 2rem);
    margin: 0rem 1rem;
    padding: 0.75rem;
    border-radius: 1rem;
  }
}

@media (max-width: 600px) {
  .card-content {
    padding: 3rem;
  }

  .card-content> h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {
  body, html {
    height: auto;
    overflow: visible;
  }
  body {
    display: block;
    padding: 20px;
  }
  .wrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .bar {
    display: none;
  }
  .snip1566 {
    margin: 10px;
    width: 100px;
  }
  .card {
    width: 100%;
    margin: 10px 0;
  }
  .card-content {
    padding: 2rem;
  }
  .card-content > h1 {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .card {
    width: 100%;
    margin: 10px 0;
  }
  .card-content {
    padding: 1.5rem;
  }
  .card-content > h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 414px) {
  .card {
    width: 100%;
    margin: 10px 0;
  }
  .card-content {
    padding: 1.5rem;
  }
  .card-content > h1 {
    font-size: 1.6rem;
  }
}

@media (max-width: 390px) {
  body,
  html {
    width: 100%;
    height: auto;
    overflow: visible;
  }
  .wrapper {
    flex-wrap: wrap;
  }
  .snip1566 {
    flex-basis: 100%;
    margin: 20px 0;
  }
  .card {
    width: 100%;
    margin: 10px 0;
  }
  .card-content {
    padding: 1rem;
  }
  .card-content > h1 {
    font-size: 1.4rem;
  }
}

@media (max-width: 393px) {
  body, html {
    width: 100%;
    height: auto;
    overflow: visible; 
  }
  .wrapper {
    flex-wrap: wrap;
  }
  .snip1566 {
    flex-basis: 100%;
    margin: 20px 0;
  }
  .card {
    width: 100%;
    margin: 10px 0;
  }
  .card-content {
    padding: 1rem;
  }
  .card-content > h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 360px) {
  body, html {
    width: 100%;
    height: auto;
    overflow: visible; 
  }
  .wrapper {
    flex-wrap: wrap;
  }
  .snip1566 {
    flex-basis: 100%;
    margin: 20px 0;
  }
  .card {
    width: 100%;
    margin: 10px 0;
  }
  .card-content {
    padding: 1rem;
  }
  .card-content > h1 {
    font-size: 1.1rem;
  }
}

@media (max-width: 412px) {
  body, html {
    width: 100%;
    height: auto;
    overflow: visible; 
  }
  .wrapper {
    flex-wrap: wrap;
  }
  .snip1566 {
    flex-basis: 100%;
    margin: 20px 0;
  }
  .card {
    width: 100%;
    margin: 10px 0;
  }
  .card-content {
    padding: 1rem;
  }
  .card-content > h1 {
    font-size: 1.3rem;
  }

  
}
